body{
  background-image: url("assets/bg.jpg");
  background-size: cover;
}
.headings{
    font-size: 30px;
}
.signup{
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(0,0,0,.9);
  padding:25px;
  width: 360px;
  color: white;
  border: 5px solid black;
  border-radius: 1em;
  box-shadow: 8px 8px 5px rgb(10, 10, 10);
}
.login{
  margin: 0 auto;
  margin-top: 10%;
  background-color: rgba(0,0,0,.7);
  padding:25px;
  width: 320px;
  color: white;
  border: 5px solid black;
}
.login input[type='text'], .login input[type='password']{
  display: block;
  position: relative;
  border: none;

  border-bottom: 1px solid white;
  width: 100%;
  background: none;
  color: white;
  z-index: 2;
}
.signup input[type='text'], .signup input[type='password'], .signup input[type='email']{
  display: block;
  position: relative;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  width: 100%;
  background: none;
  color: gray;
  z-index: 2;
}

#btn0{
  display: inline;
  margin-top: 1%;
}
::placeholder{
  color: white;

}
.form-inline input[type='text'], .form-inline input[type='password']{
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: rgba(50,50,50,.0);
  color: white;
  margin-right: 15px;
}
label{
    display: block;
    color: gray;
    position: relative;
    top: -40px;
    left: 0px;
    z-index: 1;
    transition: all 0.3s ease;
    font-size: 12px;
    pointer-events: none;
}
input:focus, input:valid{
    outline: none;


}
input:focus + label, input:valid + label{
    top: -60px;

    font-size: 11px;
    color: white;


}
#welcome{
    width: 100$;
}
.tick{
  color: yellow;
  position: relative;
  float: right;
}
.mesg{
  background-color: rgba(0,0,0,.7);
  border-radius: 1em;
  border: 1px solid white;
  padding: 10px;
  color: red;
  position: absolute;
  left: 80px;
  width:200px;
  top: -5px;
  display: none;
}

.imgmsg{
  position: absolute;
  top: 25px;
  left: -48px;
}
.marquee{
  border-top: 5px solid rgba(255,255,255,.4);
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
